<template name="game_detail">

<div class="display-panel bg-4">
	<div class="page-container">
	 	<div class="display-num"><p class="game-no">{{game_no}}</p></div>

	 	 <h1 class="h1 centered"><a href="/players/{{p1_name}}">{{p1_name}}</a> vs <a href="/players/{{p2_name}}">{{p2_name}}</a></h1>

	 	 <p class="notes">{{notes}}</p>
	</div>
 </div>


<div class="page-container">

	<table class="table">
		<thead>
		<th># {{game_no}}</th>
		<th>Team</th>
		{{#each reg_goals}}
			<th>{{period}}</th>
		{{/each}}
		{{#each ot_goals}}
			<th>OT {{ot_num}}</th>
		{{/each}}
		<th>GOS</th>
		<th>Fights</th>
		<th>Final</th>
		</thead>

		<tbody>
		<tr class="{{p1_winner}}">
			<td><a href="/players/{{p1_name}}">{{p1_name}}</a></td>
			<td class="team {{p1_team}}">{{p1_team}}</td>
			{{#each reg_goals}}
				<td>{{p1_score}}</td>
			{{/each}}
			{{#each ot_goals}}
				<td>{{p1_score}}</td>
			{{/each}}
			<td>{{p1_gos}}</td>
			<td>{{p1_fights}}</td>
			<td>{{p1_final}}</td>
		</tr>
		<tr class="{{p2_winner}}">
			<td><a href="/players/{{p2_name}}">{{p2_name}}</a></td>
			<td class="team {{p2_team}}">{{p2_team}}</td>
			{{#each reg_goals}}
				<td>{{p2_score}}</td>
			{{/each}}
			{{#each ot_goals}}
				<td>{{p2_score}}</td>
			{{/each}}
			<td>{{p2_gos}}</td>
			<td>{{p2_fights}}</td>
			<td>{{p2_final}}</td>
		</tr>
		</tbody>
	</table>
</div>

</template>
