<template name="game">
	<table class="table">
		<thead>
		<th><a href="/games/{{game_no}}"># {{game_no}}</a></th>
		<th>Team</th>
		{{#each reg_goals}}
			<th>{{period}}</th>
		{{/each}}
		{{#each ot_goals}}
			<th>OT {{ot_num}}</th>
		{{/each}}
		{{#if p1_gos}}<th>GOS</th>{{/if}}{{#if p2_gos}}<th>GOS</th>{{/if}}
		<th>Fights</th>
		<th>Final</th>
		{{#if currentUser}}<th>Delete</th>{{/if}}
		</thead>

		<tbody>

		<tr class="{{p1_winner}}">
			<td><a href="/players/{{p1_name}}">{{p1_name}}</a></td>
			<td class="team {{p1_team}}">{{p1_team}}</td>
			{{#each reg_goals}}
				<td>{{p1_score}}</td>
			{{/each}}
			{{#each ot_goals}}
				<td>{{p1_score}}</td>
			{{/each}}
			{{#if p1_gos}}<td>{{p1_gos}}</td>{{/if}}{{#if p2_gos}}<td>{{p1_gos}}</td>{{/if}}
			<td>{{p1_fights}}</td>
			<td>{{p1_final}}</td>
			{{#if currentUser}}<td colspan="2"><input type="submit" class="btn" id="game_deletegame" value="Delete"></td>{{/if}}
		</tr>
		<tr class="{{p2_winner}}">
			<td><a href="/players/{{p2_name}}">{{p2_name}}</a></td>
			<td class="team {{p2_team}}">{{p2_team}}</td>
			{{#each reg_goals}}
				<td>{{p2_score}}</td>
			{{/each}}
			{{#each ot_goals}}
				<td>{{p2_score}}</td>
			{{/each}}
			{{#if p1_gos}}<td>{{p2_gos}}</td>{{/if}}{{#if p2_gos}}<td>{{p2_gos}}</td>{{/if}}
			<td>{{p2_fights}}</td>
			<td>{{p2_final}}</td>
		</tr>
		</tbody>
	</table>
</template>
