<template name="newgame">
<div class="display-panel">
<div class="page-container">
  <h1 class="fancy-header dark">Let's score game {{game_no}}</h1>
  <h3 class="h1 centered">{{p1_name}} vs {{p2_name}}</h3>

  <div class="ot-selector">
  	<span class="ot-label">OT?</span>
  	<input id="ot_counter" class="drk-input" type="number" min="0" max="20" value="0" />
  	<input type="submit" class="btn centered gos inactive" id="gos_scored" value="GOS"/>
  </div>

  {{ot_count}}

  <div class="info-panel">
  <table class="table-input">
	  <thead>
	  	<th>Player</th>
	  	<th>Team</th>
	  	<th>1</th>
	  	<th>2</th>
	  	<th>3</th>
	  	{{#each ot_scores}}
	  		<th>OT {{ot}}</th>
	  	{{/each}}
	  	{{#if gos_scored}}<th>GOS?</th>{{/if}}
	  	<th>Fights</th>
	 	<th>Final</th>
	  </thead>
  	  <tbody>

  	  <!-- Player 1 -->
  	  <tr>
	  	<td><select class="name" id="p1_name">
	  			<option value="-1">Choose Player</option>Choose Player
  			  {{#each players}}
			  	<option value="{{_id}}">{{name}}</option>{{name}}
			  {{/each}}
	  	</select></td>
	  	<td><select class="team" id="p1_team">
	  		<option value="ny">New York</option>
	  		<option value="min">Minnesota</option>
	  		<option value="tor">Toronto</option>
	  		<option value="edm">Edmonton</option>
	  		<option value="la">Los Angeles</option>
	  		<option value="chi">Chicago</option>
	  		<option value="van">Vancouver</option>
	  		<option value="mtl">Montreal</option>
	  	</select></td>
	  	<td><input class="input-number p1_pts pts" value="0" id="p1_score_1p" min="0" type="number"/></td>
	  	<td><input class="input-number p1_pts pts" value="0" id="p1_score_2p" min="0" type="number"/></td>
	  	<td><input class="input-number p1_pts pts" value="0" id="p1_score_3p" min="0" type="number"/></td>

	  	{{#each ot_scores}}
	  		<td><input value="0" class="input-number p1_pts pts" id="p1_score_{{ot}}ot" min="0" type="number"/></td>
	  	{{/each}}

	  	{{#if gos_scored}}<td><input class="input-number" value="0" id="p1_gos" min="0" type="number"/></td>{{/if}}
	  	<td><input class="input-number" value="0" id="p1_fights" min="0" type="number"/></td>
	 	<td id="p1_final">{{p1_points}}</td>
	 </tr>


	 <!-- Player 2 -->
  	  <tr>
	  	<td><select class="name" id="p2_name">
	  		  <option value="-1">Choose Player</option>Choose Player
			{{#each players}}
			  <option value="{{_id}}">{{name}}</option>{{name}}
			{{/each}}
	  	</select></td>
	  	<td><select class="team" id="p2_team">
	  		<option value="ny">New York</option>
	  		<option value="min">Minnesota</option>
	  		<option value="tor">Toronto</option>
	  		<option value="edm">Edmonton</option>
	  		<option value="la">Los Angeles</option>
	  		<option value="chi">Chicago</option>
	  		<option value="van">Vancouver</option>
	  		<option value="mtl">Montreal</option>
	  	</select></td>
	  	<td><input input class="input-number p2_pts pts" value="0" id="p2_score_1p" min="0" type="number"/></td>
	  	<td><input input class="input-number p2_pts pts" value="0" id="p2_score_2p" min="0" type="number"/></td>
	  	<td><input input class="input-number p2_pts pts" value="0" id="p2_score_3p" min="0" type="number"/></td>
	  	{{#each ot_scores}}
	  		<td><input class="input-number p2_pts pts" value="0" id="p2_score_{{ot}}ot" min="0" type="number"/></td>
	  	{{/each}}
	  	{{#if gos_scored}}<td><input class="input-number" value="0" id="p2_gos" min="0" type="number"/></td>{{/if}}
	  	<td><input class="input-number" value="0" id="p2_fights" min="0" type="number"/></td>
	 	<td id="p2_final">{{p2_points}}</td>
	 </tr>

	  </tbody>
  </table>

  <div class="newgame-notes">
		<h3 class="h3">Any notes?</h3>
	  <textarea class="textarea" id="game-notes"></textarea>
  </div>

  </div>
{{#if is_disabled}}
  <input type="submit" class="btn centered submit" value="submit" id="newgame_addgame" disabled/>
{{else}}
  <input type="submit" class="btn centered submit" value="submit" id="newgame_addgame"/>
{{/if}}
	</div>
  </div><!-- page-container -->
</template>
