@import "../bower_components/upbase/components/base";

//Colors!
$purple: #180E20;
$gray: #E9E9E9;
$blue: #BDE7FF;
$red: #A3053A;
$green: #239E00;
$yellow: #C9C009;
$orange: #DD730A;

// Sizes
$nav: 200px;


body {
	// background-color: black;
	padding: 30px;
	margin-left: $nav;
	background-color: $gray;
	font-family: "Helvetica Neue";
}

.nav-panel {
	width: $nav;
	left: 0;
	top: 0;
	height: 100%;
	bottom: 0;
	position: fixed;
	background-color: $purple;
}

.nav-btns {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li a {
		margin-bottom: 1px;
		display: block;
		width: 50px;
		height: 50px;
		background-color: rgba(0,0,0,.5);

		&:hover {
			background-color: $blue;
		}
	}
}

.info-panel {
	max-width: 1000px;
	margin: 0 auto;
}

.table {
	width: 100%;
	background-color: #FFF;
	border-collapse: collapse;

	thead {
		border-bottom: 1px solid #CCC;
		th {
			padding: 5px;
			font-weight: bold;
			font-size: 10px;
			text-transform: uppercase;
			background-color: $blue;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #EEE;

			&:nth-child(2n-1) {
				background-color: #F3F1F3;
			}
			td {
				text-align: center;
				padding: 10px;
				border: 1px solid #EEE;
			}
		}
	}
}


.l-5050 {
	// @include media-grid(2, 100px);

	.media-block {
		margin-bottom: 60px;
	}
}

.big-number {
	font-size: 48px;
}