//Colors!
$lightbg: #EDEDED;
$darkbg: #1c1c2d;
$accent: #d3453b;
$gray: #DDD;
$txtlight: #EEE;
$txtdark: #1d1d1d;

// Sizes
$tablet: 700px;
$desktop: 900px;

//Typefaces
$adelle-sans: "adelle-sans";
$adelle: "adelle";


@import "base";
@import "project/type";
@import "project/tables";
@import "project/nav";
@import "project/objects";
@import "project/auth";
@import "project/profile";
@import "project/input";
@import "project/faceoff";



//Fade In
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


body {
	background-color: $lightbg;
	background-image: radial-gradient($lightbg, darken($lightbg, 5%));
}

// Layout
.display-panel {
	background-color: $darkbg;
	@include background-image(radial-gradient(lighten($darkbg, 10%), $darkbg));
	background-attachment: fixed;
	@include background-size(cover);
	color: $txtlight;

	&.bg-1 {
		background-image: url(/img/bg-1.jpg);
	}

	&.bg-2 {
		background-image: url(/img/bg-2.jpg);
	}

	&.bg-3 {
		background-image: url(/img/bg-3.jpg);
	}

	&.bg-4 {
		background-image: url(/img/bg-4.jpg);
	}


	@media (min-width: $tablet){
		padding: 60px 0;
	}
}

.page-container {
	max-width: 800px;
	margin: 0 auto;

	padding: 20px;

	@media (min-width: $tablet){
		padding: 0;
		padding-top: 20px;
	}

	-webkit-animation: fadein .5s; /* Safari and Chrome */
       -moz-animation: fadein .2s; /* Firefox */
        -ms-animation: fadein .2s; /* Internet Explorer */
         -o-animation: fadein .2s; /* Opera */
            animation: fadein .2s;

}

.display-num {
	width: 60px;
	height: 60px;
	margin: 0 auto 20px auto;
	text-align: center;
	padding: 20px 0 0 0;
	color: darken($txtlight, 10%);
	@include border-radius(60px);
	background-color: darken($accent, 4%);

	@media(min-width: $tablet){
		width: 100px;
		height: 100px;
		padding: 40px 0 0 0;
		@include border-radius(100px);
	}
}

.split-two {
	@media (min-width: $tablet) {
		@include media-grid(2, 60px);

		.media-block {
			margin-bottom: 60px;
		}
	}
}

.split-three {
	@media (min-width: $tablet) {
		@include media-grid(3, 30px);

		.media-block {
			margin-bottom: 60px;
		}
	}
}
