* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

@media (min-width: 1000px) {
  .nav-panel {
    width: 225px;
    left: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    position: fixed;
    background-color: #180e20;
  }
}

.nav-btns {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 999px) {
  .nav-btns {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #180e20;
    width: 225px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transform: translate3d(-225px, 0, 0);
    -moz-transform: translate3d(-225px, 0, 0);
    -ms-transform: translate3d(-225px, 0, 0);
    -o-transform: translate3d(-225px, 0, 0);
    transform: translate3d(-225px, 0, 0);
  }
  .nav-active .nav-btns {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.nav-btns li a {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}
.nav-btns li a:hover {
  background-color: #bde7ff;
  color: #180e20;
}

.nav-icon {
  display: inline-block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
}

.home-icon {
  background: url(../icons/home.svg) no-repeat;
}
.nav-link:hover .home-icon {
  background: url(../icons/home-dark.svg) no-repeat;
}

.score-icon {
  background: url(../icons/sticks.svg) no-repeat;
}
.nav-link:hover .score-icon {
  background: url(../icons/sticks-dark.svg) no-repeat;
}

.ap-icon {
  background: url(../icons/player.svg) no-repeat;
}
.nav-link:hover .ap-icon {
  background: url(../icons/player-dark.svg) no-repeat;
}

.np-icon {
  background: url(../icons/plus.svg) no-repeat;
}
.nav-link:hover .np-icon {
  background: url(../icons/plus-dark.svg) no-repeat;
}

.ag-icon {
  background: url(../icons/sticks.svg) no-repeat;
}
.nav-link:hover .ag-icon {
  background: url(../icons/sticks-dark.svg) no-repeat;
}

.logo-mod {
  padding: 20px;
}
@media (max-width: 999px) {
  .logo-mod {
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background-color: #180e20;
    padding: 0;
  }
}

.blades-h {
  text-decoration: none;
  font-size: 40px;
  font-weight: 200;
  color: #fff;
}
@media (max-width: 999px) {
  .blades-h {
    position: absolute;
    top: 0;
    right: 40px;
    left: 40px;
    text-align: center;
    font-size: 19px;
    padding: 15px;
    font-weight: 500;
  }
}

.hamburger {
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  text-indent: -9999pc;
  background: url(../icons/hamburger.svg) no-repeat;
  position: absolute;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 13px;
}
.hamburger:focus {
  outline: 0;
}
@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 760px) and (max-width: 1599px) {
  .l-5050 {
    margin-left: -50px;
    *zoom: 1;
  }
  .l-5050:after {
    content: "";
    display: table;
    clear: both;
  }
  .l-5050 > .media-block {
    float: left;
    padding-left: 50px;
    width: 50%;
  }
  .l-5050 > .media-block:nth-of-type(2n+3) {
    clear: left;
  }
  .l-5050 > .media-block.n3 {
    clear: left;
  }
}
@media (min-width: 1600px) {
  .l-5050 {
    margin-left: -50px;
    *zoom: 1;
  }
  .l-5050:after {
    content: "";
    display: table;
    clear: both;
  }
  .l-5050 > .media-block {
    float: left;
    padding-left: 50px;
    width: 33.3333%;
  }
  .l-5050 > .media-block:nth-of-type(3n+4) {
    clear: left;
  }
  .ie7 .l-5050 > .media-block {
    width: 33%;
  }
  .l-5050 > .media-block.n4 {
    clear: left;
  }
}
.l-5050 .media-block {
  margin-bottom: 60px;
}

.summary-list {
  background-color: #ccc;
  padding: 30px;
  margin-bottom: 50px;
}

.info-panel-h3 {
  margin-bottom: 5px;
}

.home-h2 {
  text-align: center;
  font-size: 15px;
  margin: 30px 0;
  color: #a3053a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-topper {
  display: block;
  margin: 0 0 30px;
  height: 312px;
  background-image: url(../img/blades_player_bg.jpg);
  background-repeat: repeat-x;
}

.summary-h {
  display: none;
}

.logo-bg {
  fill: #fff;
}
.logo:hover .logo-bg {
  fill: #bde7ff;
}

.logo {
  display: none;
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
}

body {
  background-color: #e9e9e9;
  font-family: "proxima nova";
  margin-left: 0;
}
@media (max-width: 999px) {
  body {
    padding-top: 50px;
  }
}
@media (min-width: 1000px) {
  body {
    padding-top: 0px;
    margin-left: 225px;
  }
}

.page-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 999px) {
  .logo-mod,
  .home-topper,
  .page-container {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .nav-active .logo-mod, .nav-active
  .home-topper, .nav-active
  .page-container {
    -webkit-transform: translate3d(225px, 0, 0);
    -moz-transform: translate3d(225px, 0, 0);
    -ms-transform: translate3d(225px, 0, 0);
    -o-transform: translate3d(225px, 0, 0);
    transform: translate3d(225px, 0, 0);
  }
}

.table, .table-input {
  width: 100%;
  background-color: #FFF;
  border-collapse: collapse;
}
.table thead, .table-input thead {
  border-bottom: 1px solid #CCC;
}
.table thead th, .table-input thead th {
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #bde7ff;
  letter-spacing: 1px;
}
.table tbody tr, .table-input tbody tr {
  border-bottom: 1px solid #EEE;
}
.table tbody tr td, .table-input tbody tr td {
  text-align: center;
  padding: 10px;
  border: 1px solid #EEE;
}
.table tbody tr:nth-child(2n-1), .table-input tbody tr:nth-child(2n-1) {
  background-color: #F3F1F3;
}

input, select {
  font-size: 16px;
}

.table-input .input-number {
  width: 60px;
  padding: 10px;
  border: 0;
}
.table-input .input-number:focus {
  outline: none;
}

.big-number {
  font-size: 48px;
}
