/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

.h1 {
  font-family: "adelle";
  font-weight: 100;
  margin: 0 0 20px 0;
  font-size: 24px;
}
.h1 a {
  color: #d3453b;
  text-decoration: none;
}
@media (min-width: 700px) {
  .h1 {
    font-size: 42px;
  }
}

.h3 {
  font-family: "adelle";
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.game-no {
  font-family: "adelle-sans";
  font-size: 14px;
  font-weight: 100;
}

.big-number {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.big-number .number {
  display: block;
  font-family: "adelle-sans";
  font-size: 72px;
  color: #bbbbbb;
  font-weight: 100;
}
.big-number .descrip {
  display: block;
  font-family: "adelle-sans";
  font-size: 16px;
  color: #d3453b;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.big-number:hover .number {
  color: white;
}

.fancy-header {
  background-color: #FFF;
  color: #d3453b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "adelle-sans";
  width: 300px;
  margin: 40px auto;
  text-align: center;
  padding: 10px 20px;
  position: relative;
}
.fancy-header:before {
  content: '';
  position: absolute;
  top: -15px;
  right: 0;
  width: 30px;
  height: 15px;
  background-image: url(/img/fancy-top.svg);
}
.fancy-header:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 30px;
  height: 15px;
  background-image: url(/img/fancy-bottom.svg);
}
.fancy-header.dark {
  background-color: #30304c;
  color: #eeeeee;
}
.fancy-header.dark:before {
  background-image: url(/img/fancy-top-dark.svg);
}
.fancy-header.dark:after {
  background-image: url(/img/fancy-bottom-dark.svg);
}

.table, .table-input {
  font-family: "adelle-sans";
  margin: 0 0 20px 0;
  width: 100%;
  background-color: #FFF;
  border-collapse: collapse;
  border: none;
}
.table thead th, .table-input thead th {
  padding: 5px;
  font-weight: 200;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #30304c;
  letter-spacing: 1px;
  color: #eeeeee;
}
.table tbody tr, .table-input tbody tr {
  border: 1px solid #ededed;
  color: #1d1d1d;
}
.table tbody tr td, .table-input tbody tr td {
  text-align: center;
  padding: 10px;
  border: 1px solid #EEE;
}
.table tbody tr:hover, .table-input tbody tr:hover {
  background-color: #d3453b;
  color: #eeeeee;
}

input, select {
  font-size: 16px;
}

.table-input .input-number {
  width: 60px;
  padding: 10px;
  border: 0;
}
.table-input .input-number:focus {
  outline: none;
}

body {
  background-color: #ededed;
}

.display-panel {
  background-color: #1c1c2d;
  color: #eeeeee;
}
@media (min-width: 700px) {
  .display-panel {
    padding: 100px 0;
  }
}

.display-num {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 20px 0 0 0;
  color: #d4d4d4;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  background-color: #141420;
}
@media (min-width: 700px) {
  .display-num {
    width: 100px;
    height: 100px;
    padding: 40px 0 0 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
  }
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .split-two {
    margin-left: -60px;
    *zoom: 1;
  }
  .split-two:after {
    content: "";
    display: table;
    clear: both;
  }
  .split-two > .media-block {
    float: left;
    padding-left: 60px;
    width: 50%;
  }
  .split-two > .media-block:nth-of-type(2n+3) {
    clear: left;
  }
  .split-two > .media-block.n3 {
    clear: left;
  }
  .split-two .media-block {
    margin-bottom: 60px;
  }
}

@media (min-width: 700px) {
  .split-three {
    margin-left: -30px;
    *zoom: 1;
  }
  .split-three:after {
    content: "";
    display: table;
    clear: both;
  }
  .split-three > .media-block {
    float: left;
    padding-left: 30px;
    width: 33.3333%;
  }
  .split-three > .media-block:nth-of-type(3n+4) {
    clear: left;
  }
  .ie7 .split-three > .media-block {
    width: 33%;
  }
  .split-three > .media-block.n4 {
    clear: left;
  }
  .split-three .media-block {
    margin-bottom: 30px;
  }
}
