.l-5050 {
	@include mq(900px){
		@include media-grid(2, 50px);
	}

	.media-block {
		margin-bottom: 60px;
	}
}

.summary-list {
	background-color: #ccc;
	padding: 30px;
	margin-bottom: 50px;
}


.home-topper {
	display: block;
	margin: 0 0 30px;
	height: 312px;
	background-image: url(../img/blades_player_bg.jpg);
	background-repeat: repeat-x;

}

.summary-h {
	display: none;
}