//Game input

.ot-selector {
	margin: 0 0 20px 0;
	text-align: center;
}

.drk-input {
	background-color: darken($darkbg, 10%);
	border: 0;
	color: $txtlight;
	padding: 10px;
	@include border-radius(10px);
	text-align: center;
}


.newgame-notes {
	max-width: 600px;
	margin: 0 auto 20px auto;
}

.textarea {
	width: 100%;
	padding: 20px;
	font-size: 16px;
	background-color: darken($darkbg, 10%);
	color: $txtlight;
	border: 0;
	@include border-radius(10px);
}

.player-select {
	background: transparent;
	color: white;
	margin: 0 30px;
	border: none;
	@include appearance(none);
	border-radius: 0;
	border-bottom: dotted 1px white;
	outline: none;

	&::selection {
		background: none;
		outline: none;
	}

	option {
		text-align: center;
	}
}
