.nav-panel {
	width: 40px;
	position: fixed;
	top: 5px;
	left: 5px;
}

.nav-link {
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,.5);

	&:hover {
		background-color: rgba(0,0,0, 1);
	}
}