.nav-panel {
	width: 100%;
	background-color: $accent;
	text-align: center;
	@include pie-clearfix;
}

.nav-btns li {
	@include inline-block;
}

.nav-link {
	display: block;
	font-family: $adelle-sans;
	padding: 10px;
	color: $txtlight;
	text-decoration: none;

	&:hover {
		background-color: rgba(0,0,0, 1);
	}
}