
.nav-panel {
	@include mq($nav-break) {
		width: 50px;
		left: 0;
		top: 0;
		height: 100%;
		bottom: 0;
		position: fixed;
		background-color: $purple;
	}
}

.nav-btns {
	@include mq(max, $nav-break) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: $purple;
		width: 50px;
		@include trans;
	}

	padding: 0;
	margin: 0;
	list-style-type: none;

	li a {
		display: block;
		width: 100%;
		padding: 10px;
		text-indent: -10000px;
		color: #fff;
		text-decoration: none;
		vertical-align:  middle;
		
		&.leaderboard {
			background: url(/icons/hamburger.svg) no-repeat;
		}

		&.newgame {
			background: url(/icons/hamburger.svg) no-repeat;
		}

		&.players {
			background: url(/icons/hamburger.svg) no-repeat;
		}

		&.games {
			background: url(/icons/hamburger.svg) no-repeat;
		}

		&:hover {
			background-color: $blue;
			color: $purple;
		}
	}

}

.nav-icon {
	@include size(15);
	display: inline-block;
	margin-right: 10px;
}

.logo-mod {
	@include mq(max, $nav-break) {
		height: 50px;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		background-color: $blue;
		padding: 0;
	}

	padding: 20px;
}


.hamburger {
	@include input-default;
	@include size(25px);
	text-indent: -9999pc;
	background: url(../icons/hamburger.svg) no-repeat;
	@include absolute(13px 0 0 13px);
	@include mq($nav-break) {
		display: none;
	}
}