.btn {
	@include trans;
	padding: 10px;
	background-color: $accent;
	@include border-radius(5px);
	border: 0;
	color: $txtlight;
	font-family: $adelle-sans;
	text-transform: uppercase;
	font-size: 12px;

	&:focus {
		border: 0;
	}

	&:hover {
		background-color: darken($accent, 10%);
	}

	&.centered {
		margin: 0 auto;
		display: block;
		width: 200px;
		text-align: center;
	}

	&.inactive {
		background-color: darken($darkbg, 10%);
	}

	&.gos {
		width: 50px;
		float: right;
	}
}

.game-sort-controls {
	padding: 0 10px;
	margin: 0 0 20px 0;

	@include cols(2);
	background-color: $darkbg;

	.col-2 {
		text-align: right;
	}
}

.sort-btn {
	@include inline-block;
	padding: 10px;
	color: $txtlight;

	&.inactive {
		color: lighten($txtdark, 25%);
	}

	@extend .h3;
	margin: 10px;
}
