
.table, .table-input {
	font-family: $adelle-sans;
	margin: 0 0 20px 0;
	width: 100%;
	background-color: #FFF;
	border-collapse: collapse;

	thead {
		th {
			padding: 5px;
			font-weight: 200;
			font-size: 10px;
			text-transform: uppercase;
			background-color: lighten($darkbg, 10%);
			letter-spacing: 1px;
			color: $txtlight;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid $lightbg;
			color: $txtdark;
			
			td {
				text-align: center;
				padding: 10px;
				border-bottom: 1px solid #EEE;
				border-right: 1px solid #EEE;
			}

			&:hover {
				background-color: $gray;
			}
		}
	}
}

input, select {
	font-size: 16px;
}

.table-input {
	.input-number {
		width: 60px;
		padding: 10px;
		border: 0;

		&:focus {
			outline: none;
		}
	}
}