
.table, .table-input {
	font-family: $adelle-sans;
	margin: 0 0 20px 0;
	width: 100%;
	background-color: #FFF;
	border-collapse: collapse;
	border: none;

	thead {
		th {
			padding: 5px;
			font-weight: 200;
			font-size: 10px;
			text-transform: uppercase;
			background-color: lighten($darkbg, 10%);
			letter-spacing: 1px;
			color: $txtlight;

			a {
				color: $txtlight;
			}

		}
	}

	tbody {
		tr {
			color: $txtdark;
			
			td {
				vertical-align: middle;
				text-align: center;
				padding: 10px;
				font-size: 14px;
				border: 1px solid #EEE;
				border-collapse: collapse;

				background-repeat: no-repeat;
				background-position: 20px center;
				background-size: 20px;

				&.team {
					text-transform: uppercase;
				}

				&.min {
					background-image: url(/img/min.png);
				}

				&.edm {
					background-image: url(/img/edm.png);
				}

				&.tor {
					background-image: url(/img/tor.png);
				}

				&.mon {
					background-image: url(/img/mon.png);
				}

				&.la {
					background-image: url(/img/la.png);
				}

				&.ny {
					background-image: url(/img/ny.png);
				}

				&.chi {
					background-image: url(/img/chi.png);
				}

				a {
					display: block;
					color: $accent;
					font-weight: 800;
					text-decoration: none;
					&:hover {
						color: darken($accent, 10%);
					}
				}
			}

			&.true {
				td {
					font-weight: 900;
					color: #000;
				}
			}
		}
	}

	&.players {
		tr td {
			font-size: 18px;
		}
	}
}

input, select {
	font-size: 16px;
}

.table-input {
	.input-number {
		width: 60px;
		padding: 10px;
		border: 0;

		&:focus {
			outline: none;
		}
	}
}

.opp-table {
	width: 100%;

	thead {
		th {
			padding: 5px;
			font-weight: 200;
			font-size: 10px;
			text-transform: uppercase;
			background-color: lighten($darkbg, 10%);
			letter-spacing: 1px;
			color: $txtlight;
		}
	}


	tbody tr td {
		font-family: $adelle-sans;
		padding: 10px;
		text-align: center;
		color: $txtlight;
		font-size: 18px;
		border-bottom: 1px solid lighten($txtdark, 5%);

		a {
			color: $accent;
		}
	}
}