<template name="games">
  <h1>All Games</h1>
  <h5>There have been {{total_games}} games recorded.</h5>
  <p>Sort by <a href="#" id="game_no_asc">Game Number Ascending</a> <a href="#" id="game_no_desc">Game Number Descending</a></p>
  

  <h3>Beginnings of a dynamic results range</h4>
  <input type="number" min="1" max="100" id="results_num" value="50"/>
  
  <select id="game_range">
  {{#each game_range}}
  	<option value="{{range_lower}}">{{range_lower}} - {{range_upper}}</option>
  {{/each}}
  </select>
	
	<h3>The games!</h3>
	{{#each games}}
		{{>game}}
	{{/each}}
</template>