<template name="newplayer">
	
  <h1>Add a player</h1>

  <h4>Player name</h4>
  <input type="text" placeholder="Player Name" id="newplayer_name"/>

  <h4>Preferred team</h4>
  <select id="newplayer_team">
  		<option value="ny">New York</option>
  		<option value="min">Minnesota</option>
  		<option value="tor">Toronto</option>
  		<option value="edm">Edmonton</option>
  		<option value="la">Los Angeles</option>
  		<option value="chi">Chicago</option>
  		<option value="van">Vancouver</option>
  		<option value="mtl">Montreal</option>
	</select>


  <input type="submit" value="Add Player" class="newplayer_submitplayer"/>

</template>