<template name="players">
  <h1>Players</h1>
  <a href="newplayer">New Player</a>

<h3>All Players</h3>

<table class="table">
<thead>
	<th>Name</th>
	<th>ID</th>
	<th>Preferred Team</th>
	<th>Games Played</th>
	<th>Win record</th>
	<th>Fights</th>
	<th>Delete</th>
</thead>
<tbody>
{{#each players}}
<tr>
	<td><a href="players/{{_id}}">{{name}}</a></td>
	<td><a href="players/{{_id}}">{{_id}}</a></td>
	<td>{{team}}</td>
	<td>{{games_played}}</td>
	<td>{{games_won}} / {{games_lost}}</td>
	<td>{{fights_won}} / {{games_lost}}</td>
	<td><input type="submit" class="player_deleteplayer" data-id="{{_id}}" value="Delete Player"/></td>
</tr>
{{/each}}
</tbody>
</table>

</template>