<template name="player_detail">

  {{#each player}}

  	<div class="display-panel">
    <div class="page-container">

    <div class="player-profile">
	    <div class="player-avatar"><img src="img/min.jpg"/></div>
	    <h1 class="player-name">{{name}}</h1>
    </div>

  	<div class="split-three">
  		<!-- Streaks -->
  		<div class="media-block">
          <div class="big-number">
          	<h4 class="descrip light">Streak</h4>
          	<span class="number">{{current_streak}}</span><span class="descrip">Best: {{win_streak_record}} / Worst: {{loss_streak_record}}</span>
          </div>
        </div>

        <!-- Wins -->
  		<div class="media-block">
          <div class="big-number">
          	<h4 class="descrip light">Games Won</h4>
          	<span class="number">{{games_won}}</span><span class="descrip">{{games_won}} / {{games_lost}} / {{win_avg}}</span>
          </div>
        </div>

        <!-- SOMETHING? -->
        <div class="media-block">
          <div class="big-number">
        	<h4 class="descrip light">Games Won</h4>
          	<span class="number">{{games_won}}</span><span class="descrip">{{games_won}} / {{games_lost}} / {{win_avg}}</span>
          </div>
        </div>


        <!-- Goals Scored avgs -->
  		<div class="media-block">
          <div class="big-number">
        	<h4 class="descrip light">Goal scoring</h4>
          	<span class="number">{{gs_avg}}</span><span class="descrip">{{goals_scored}} total</span>
          </div>
        </div>

        <!-- Fights Avgs -->
  		<div class="media-block">
          <div class="big-number">
        	<h4 class="descrip light">Fights</h4>
          	<span class="number">{{fight_avg}}</span><span class="descrip">{{fights_won}} / {{fights_lost}}</span>
          </div>
        </div>

        <!-- Goals ALlowed Avgs -->
  		<div class="media-block">
          <div class="big-number">
        	<h4 class="descrip light">Defense</h4>
          	<span class="number">{{ga_avg}}</span><span class="descrip">{{goals_allowed}} total</span>
          </div>
        </div>

    </div>


  <h2 class="fancy-header dark">Record vs Opponents</h2>

  <table class="opp-table">
    <thead>
      <th>Opponent</th>
      <th>Games Won</th>
      <th>Games Lost</th>
      <th>Games Played</th>
      <th>Games Avg</th>
      <th>Goals Scored</th>
      <th>Goals Allowed</th>
      <th>Fights won</th>
      <th>Fights lost</th>
      <th>Fights avg</th>
      <th>Shutouts</th>
    </thead>

    <tbody>
  {{#each opponents}}
    <tr>
      <td>vs <a href="{{id}}">{{name}}</a></td>
      <td>{{games_won}}</td>
      <td>{{games_lost}}</td>
      <td>{{games_played}}</td>
      <td>{{games_avg}}</td>
      <td>{{goals_scored}}</td>
      <td>{{goals_allowed}}</td>
      <td>{{fights_won}}</td>
      <td>{{fights_lost}}</td>
      <td>{{fights_avg}}</td>
      <td>{{shutouts}}</td>
    </tr>
  {{/each}}
    </tbody>
  </table>
  </div>
  </div>

{{/each}}


<div class="page-container">
  <h2 class="fancy-header">Game appearances</h2>

  <p>Sort by <a href="#" id="game_no_asc">Game Number Ascending</a> <a href="#" id="game_no_desc">Game Number Descending</a> <a href="#" id="sort_wins">Wins</a> <a href="#" id="sort_losses">Losses</a> <a href="#" id="sort_none">None</a></p>

  <input type="number" min="1" max="100" id="results_num" value="50"/>
  
  <select id="game_range">
  {{#each game_range}}
    <option value="{{range_lower}}">{{range_lower}} - {{range_upper}}</option>
  {{/each}}
  </select>

  {{#each games}}
    {{>game}}
  {{/each}}

</div> <!-- page-container -->
</div> <!-- display-panel -->
</template>