<template name="player_detail">

  {{#each player}}

  	<div class="display-panel">
    <div class="page-container">

  	<div class="split-three">
  		<!-- Streaks -->
  		<div class="media-block">
          <div class="big-number">
          	<span class="descrip light">Streak</span>
          	<span class="number">{{current_streak}}</span><span class="descrip">Best: {{win_streak_record}} / Worst: {{loss_streak_record}}</span>
          </div>
        </div>

        <!-- Wins -->
  		<div class="media-block">
          <div class="big-number">
          	<span class="number">{{games_won}}</span><span class="descrip">{{games_won}} / {{games_lost}} / {{win_avg}}</span>
          </div>
        </div>

        <!-- SOMETHING? -->
        <div class="media-block">
          <div class="big-number">
          	<span class="number">{{games_won}}</span><span class="descrip">{{games_won}} / {{games_lost}} / {{win_avg}}</span>
          </div>
        </div>


        <!-- Goals Scored avgs -->
  		<div class="media-block">
          <div class="big-number">
          	<span class="number">{{gs_avg}}</span><span class="descrip">{{goals_scored}} total</span>
          </div>
        </div>

        <!-- Fights Avgs -->
  		<div class="media-block">
          <div class="big-number">
          	<span class="number">{{fight_avg}}</span><span class="descrip">{{fights_won}} / {{fights_lost}}</span>
          </div>
        </div>

        <!-- Goals ALlowed Avgs -->
  		<div class="media-block">
          <div class="big-number">
          	<span class="number">{{ga_avg}}</span><span class="descrip">{{goals_allowed}} total</span>
          </div>
        </div>

    </div>


  	<table class="table">
  		<thead><th>Stat</th><th>Stat</th></thead>
  		<tbody>
			<tr><td>Games Played:</td><td>{{games_played}}</td></tr>
	  		<tr><td>Game Wins:</td><td>{{games_won}}</td></tr>
	  		<tr><td>Game Losses:</td><td>{{games_lost}}</td></tr>
	  		<tr><td>Fights won:</td><td>{{fights_won}}</td></tr>
	  		<tr><td>Fights lost:</td><td>{{fights_lost}}</td></tr>
	  		<tr><td>Goals Scored:</td><td>{{goals_scored}}</td></tr>
	  		<tr><td>Goals Allowed:</td><td>{{goals_allowed}}</td></tr>
	  		<tr><td>Wins as Player 1:</td><td>{{p1_wins}}</td></tr>
	  		<tr><td>Wins as Player 2:</td><td>{{p2_wins}}</td></tr>
      		<tr><td>Shutouts recorded:</td><td>{{shutouts}}</td></tr>
      		<tr><td>Current streak:</td><td>{{current_streak}}</td></tr>
      		<tr><td>Record Winning Streak:</td><td>{{win_streak_record}}</td></tr>
      		<tr><td>Record Losing Streak: </td><td>{{loss_streak_record}}</td></tr>
      		<tr><td>Game Win avg:</td><td>{{win_avg}}</td></tr>
      		<tr><td>Fight win per game avg:</td><td>{{fight_avg}}</td></tr>
      		<tr><td>Goals scored per game avg:</td><td>{{gs_avg}}</td></tr>
      		<tr><td>Goals allowed per game avg:</td><td>{{ga_avg}}</td></tr>
      		<tr><td>Shutout average:</td><td>{{so_avg}}</td></tr>

      </tbody>
      </table>
  </div>
  </div>


<div class="page-container">
  <h2>Goal Distribution</h2>
  <ul>
    <li>1p goals: <strong>{{1p_goals}}</strong></li>
    <li>2p goals: <strong>{{2p_goals}}</strong></li>
    <li>3p goals: <strong>{{3p_goals}}</strong></li>
  </ul>


  <h2 class="h2">Record vs Opponents</h2>

  <table class="table">
    <thead>
      <th>Opponent</th>
      <th>Games Won</th>
      <th>Games Lost</th>
      <th>Games Played</th>
      <th>Games Avg</th>
      <th>Goals Scored</th>
      <th>Goals Allowed</th>
      <th>Fights won</th>
      <th>Fights lost</th>
      <th>Fights avg</th>
      <th>Shutouts</th>
    </thead>

    <tbody>
  {{#each opponents}}
    <tr>
      <td>vs <a href="{{id}}">{{name}}</a></td>
      <td>{{games_won}}</td>
      <td>{{games_lost}}</td>
      <td>{{games_played}}</td>
      <td>{{games_avg}}</td>
      <td>{{goals_scored}}</td>
      <td>{{goals_allowed}}</td>
      <td>{{fights_won}}</td>
      <td>{{fights_lost}}</td>
      <td>{{fights_avg}}</td>
      <td>{{shutouts}}</td>
    </tr>
  {{/each}}
    </tbody>
  </table>
  </div>

  {{/each}}

<div class="page-container">
  <h2 class="h2">Game appearances</h2>

  <p>Sort by <a href="#" id="game_no_asc">Game Number Ascending</a> <a href="#" id="game_no_desc">Game Number Descending</a> <a href="#" id="sort_wins">Wins</a> <a href="#" id="sort_losses">Losses</a> <a href="#" id="sort_none">None</a></p>

  <input type="number" min="1" max="100" id="results_num" value="50"/>
  
  <select id="game_range">
  {{#each game_range}}
    <option value="{{range_lower}}">{{range_lower}} - {{range_upper}}</option>
  {{/each}}
  </select>

  {{#each games}}
    {{>game}}
  {{/each}}

</div>  
</template>