<template name="games">
<div class="display-panel bg-4">
<div class="page-container">
  <h1 class="h1 centered">{{total_games}} Games</h1>
  
  </div><!-- page-container -->
</div><!-- display-panel -->


<div class="page-container">
  <div class="game-sort-controls">
      <div class="col-1">
     <a href="#" class="sort-btn" id="game_no_desc">Descending</a> <a class="sort-btn inactive" href="#" id="game_no_asc">Ascending</a> 
      </div><!-- col-1 -->
    
      <div class="col-2">
        <input class="drk-input" type="range" min="1" max="100" id="results_num" value="50"/>
        <select id="game_range">
          {{#each game_range}}
            <option value="{{range_lower}}">{{range_lower}} - {{range_upper}}</option>
          {{/each}}
        </select>
      </div><!-- col-2 -->
  </div><!-- game-sort-controls -->

	{{#each games}}
		{{>game}}
	{{/each}}
</div>
</template>